.emptyTasks {
  display: flex;
  flex-direction: column;
  width: 47rem;
  margin: 1.5rem auto;
  padding-top: 4rem;
  align-items: center;
  border-top: 1px solid var(--gray-400);
}

.text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: bold;
  line-height: 140%;
}

.description {
  color: var(--gray-300);
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}